canvas{
 animation-name:blink;

 animation-duration: 2s;

 animation-iteration-count: infinite;
 
}

@keyframes blink{
    from{
        box-shadow: 5px 5px 20px green;
    }

    to{
        box-shadow: 5px 5px 20px yellow;
    }
}